<nz-card style="width:200px;" nzTitle={{place.name}} [nzExtra]="extraTemplate" (click)="goToDetail(place)" class="cardcontainer">
  <img [src]="place.cover" class="cover" [alt]="place.name" width="200" height="200">
  <p>Province: {{place.provincia}}</p>
  @if(isAdmin()?.email) {
    @if(currentRoute!='profile'){
      <button class="newpost" (click)="handleNewPostClick($event)">
        New Post
      </button>
    }
  }
</nz-card>
<ng-template #extraTemplate>
  @if (isAdmin()?.role) {
    <app-drop-down [place]="place"></app-drop-down>
  }
</ng-template>
