@import '../style/colors.scss';

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100%;
  
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  
 
  box-shadow: 2px 0 6px $Ibiza3;
}


.header-trigger {
  height: 64px;
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: $Ibiza2;
}

.sidebar{
  background-color: $bluelight;
}

  

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  
 
  vertical-align: middle;
}

nz-layout{
  width: 100%;
  height: auto;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.avatar{
  justify-self:end;
  display: flex;
  gap:20px;
  margin-right: 20px;
  align-items: end;
}

.iconcollapse{
  justify-self:start; 
}

.app-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 64px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, 
   $bluelight ,$blue1, $blue2, $blue3, $Ibiza5, $Ibiza4, $Ibiza3, $Ibiza2, $Ibiza1
    );
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
.flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}
