<div class="containerhome">
    <div class="filter">
        <div class="flex">
            <span><label for="">Search:</label></span>
            <app-search-place></app-search-place>
            <app-filter-by-providence></app-filter-by-providence>
        </div>
        
        
    </div>
    <div class="grid">
       
        
        @for (place of places(); track place) {
            <app-card [place]="place"></app-card>
            }
    
            
        
      </div>
    
    
</div>


